body, html{
  height:100%;
}

html { 
  background: url("background/discospacesloth.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  margin: 0px;
  font-size: 30px;
  font-family: "RapidSloths", Helvetica, sans-serif;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
img {
  height: 400px;
  width: 400px;
}
audio {
  position: absolute;
  z-index: 1;
  top: 97%;
  left: 0;
}
.title, .addDancerButton, .lineUpButton {
  padding:8px 25px;
  float:right;
  text-decoration: none;
}
.topbar{
  height:40px;
  background-color: #333;
}
.title{
  padding-top: 5px;
  font-size: 40px;
}
.dancer{
  position:absolute;
}
.narwhal {
  width: 700px;
}
.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin:hover {
  height: 1000px;
  width: 1000px;
}